@media (min-width: 1200px) {
  .con-main-6-reviews {
    display: flex;
    justify-content: center;
    .avatars {
      width: 250px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  header {
    flex-wrap: wrap;
    .hamburgerMenu {
      display: flex;
      z-index: 100;
    }
    nav {
      display: none;
      justify-content: center;
      width: 100%;
      margin: 0;
      background-color: #1c1c1c;
      position: sticky;
      ul {
        flex-direction: column;
        align-items: center;

        li {
          padding: 15px 0;
        }
      }
    }
  }

  main {
    .section-1 {
      .container-1 {
        .background-1 {
          .background-2 {
            .con-1-text {
              margin-left: 40px;
            }
            .con-1-form {
              form {
                width: 340px;
                margin-right: 40px;

                .grey {
                  h1 {
                    text-align: center;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        .con-main-1-footer {
          width: 90%;
          gap: 50px;
          margin: 0 5%;
          .logos {
            gap: 40px;
          }
        }
      }
    }
    .section-2 {
      .background-3 {
        .con-main-2-buttons {
          margin-left: 5%;
        }
        .tabs {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 100px 5% 100px 0;
          .tabs-img {
            margin-top: 20px;
            margin-left: 40px;
            .top-img {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
            }
          }
        }
      }
    }
    .section-3 {
      gap: 30px;
      .con-3-logo {
        margin-left: 5%;
      }
    }
  }

  .container-4 {
    .con-main-4 {
      width: 100%;
      h1 {
        margin-top: 30px;
        text-align: center;
      }

      .con-main-4-about {
        flex-direction: column;
      }
    }
  }

  .con-main-5 {
    width: 100%;
    .con-main-5-pricing {
      flex-direction: column;

      .plan {
        margin: 30px auto;
        width: 314px;
      }
    }
  }

  footer {
    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
    }

    .copyright {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .section-1 {
      .container-1 {
        .background-1 {
          .background-2 {
            flex-wrap: wrap;
            .con-1-text {
              margin: 10px 30px 0 30px;
              width: 100%;
              text-align: center;

              .logo-1 {
                margin: auto;
              }

              .line {
                margin: auto;
              }

              button {
                margin-bottom: 30px;
              }
            }
            .con-1-form {
              width: 100%;
              margin: auto;
              form {
                margin: auto;
                width: 80%;
                float: none;
                opacity: 0.8;
                margin-bottom: 50px;

                .grey {
                  h1 {
                    text-align: center;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        .con-main-1-footer {
          display: block;
          margin: 0 5%;
          .logos {
            justify-content: space-between;
          }
        }
      }
    }
    .section-2 {
      .background-3 {
        display: block;
        .con-main-2-buttons {
          display: flex;
          justify-content: space-between;
          width: 90%;
          padding: 50px 5% 0 5%;
          margin: 0;
        }
        .tabs {
          margin: 50px 5% 0 5%;
          .tabs-text {
            margin-left: 0;
            text-align: center;
          }
          .tabs-img {
            margin-bottom: 50px;
          }
        }
      }
    }
    .section-3 {
      display: block;
      .con-3-logo {
        padding-top: 30px;
        margin: auto;
        width: 100%;
        .logo-3 {
          margin: auto;
        }
      }
      .con-text-3 {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        text-align: center;

        .line {
          margin: auto;
        }
        .title {
          text-align: left;
        }
      }
    }
  }
}
