//Header colors
$bg-color: #1c1c1c;
$text-color: white;
$meniu-hover-color: #e27866;

//Section-1 colors
$bg-2-color: rgba(0, 0, 0, 0.6);
$text-color: white;
//Section-1 Form colors
$form-bg-color: white;
$form-h1-bg-color: #f5f5f5;
$form-h1-color: black;
$form-span-color: #e27866;
$form-h3-color: black;
$form-header-bg-color: #f5f5f5;
$form-input-border-color: #d8d8d8;
$form-radio-color: #41d395;
$form-button-color: #41d395;
//Section-1 Footer colors
$footer-h2-color: #333333;
$footer-p-color: #86878b;

//Section-2 colors
$bg-3-color: linear-gradient(
  to left,
  rgba(102, 150, 226, 0.6),
  rgba(226, 120, 102, 0.6)
);
$btn-background-color: #a37169;
$btn-boxshdw-color: #00000029;
$btn-hover-color: #e27866;
$img-bg-hover: #e27866;

//Section-3 colors
$bg-4-color: #1c1c1c;
$sec-3-text-color: white;
$line-color: #e27866;
$icon-color: #e27866;

//Container-4 colors
$bg-5-color: white;
$con-4-h1-color: #212121;
$con-4-line-color: #e27866;
$con-4-p-color: #86878b;
$con-4-h3-color: #333333;
$con-4-icon-bg-color: white;

//Container-5 colors
$bg-6-color: #6696e2;
$con-5-text-color: white;
$con-5-line-color: #41d395;
$con-5-part-1-color: #383434;
$con-5-green: #41d395;
$con-ul-bg: white;
$con-li-color: #86878b;

//Container-6 colors
$con-6-bg-color: white;
$con-6-h1-color: #1c1c1c;
$con-6-line-color: #6696e2;
$chat-bubble-bg: #6696e2;
$chat-bubble-text-color: white;
$chat-bubble-avatarjob-color: #86878b;
$chat-bubble-avatarname-color: #333333;

//Container-7 colors
$con-7-bg-color: #e27866;
$con-7-text-color: white;
//Container-7 Form colors
$form-2-bg-color: white;
$form-2-input-border-color: black;
$input-placeholder-color: #1c1c1c;

//Footer colors
$footer-bg-color: #1c1c1c;
$copyright-color: white;
